.panel-default {
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 40px;
}

.input-group {
    margin-bottom: 20px;
}

.form-horizontal .form-group {
    margin-right: 0px;
}

.container {

}
