body {
    padding-top: 60px;
}

.navbar-brand {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h4 small, .navbar-inverse .navbar-nav > li > a {
    color: #bbb;
}

.navbar-nav {
    padding-top: 5px;
}

.navbar-right {
    padding-right: 20px;
}

.navbar .nav-divider {
    height: 40px;
    margin: 5px 9px;
    border-right: 1px solid #444;
}

#subtitle {
    font-size: 19px;
}

hr {
    margin-left: -80px;
    margin-right: -80px;
}   

#title {
    color: #3784c6;
}
