<html>
<head>
	<meta charset="utf-8">
	<link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='main.css') }}'>
	<title>Data Search - RTW :: Games</title>
</head>
<body>
	<div id="content">
		<div id="header">
			<h1>RTW :: Games<br><div id="subtitle">Research Project at Federal University of São Carlos</div></h1>
			<nav>
				<ul>
					<li><a href="{{ url_for('index') }}">Home</a></li>
					<li><a href="{{ url_for('overview') }}">Project Overview</a></li>
					<li><a href="{{ url_for('people') }}">People</a></li>
					<li class="active"><a href="{{ url_for('games') }}">Games</a></li>
					<li><a href="{{ url_for('profile') }}">Profile ({{ username }})</a></li>
					<li><a href="{{ url_for('logout') }}">Logout</a></li>
				</ul>
			</nav>
		</div>
		<div id="body">
			<h2>Data Search</h2>
			<form method="POST">
				<p><div class="formField">Word or expression</div><input type="text" id="search" name="search"></p>
				<p><div class="formField">Game type</div>
					<input type="radio" id="gameType" name="gameType" value="0" checked>All
					<input type="radio" id="gameType" name="gameType" value="1">1
					<input type="radio" id="gameType" name="gameType" value="2">2
					<input type="radio" id="gameType" name="gameType" value="3">3<p>
				<p><div class="formField">Search as</div>
					<input type="radio" id="position" name="position" value="1">Entity
					<input type="radio" id="position" name="position" value="2">Category
					<input type="radio" id="position" name="position" value="0" checked>Both<p>
				<p><div class="formField"><input type="submit" value="Search" id="submit"></div></p>
			</form>
			{% if status == 1%} 
				{% block status1 %}
					<hr><div>
						{% for item in data %}
							<p>
								Entity: {{ item['entity'] }}
								Category: {{ item['category'] }}
								Score: {{ item['score'] }}
								Count: {{ item['count'] }}
							</p>
						{% endfor %}
					</div>
				{% endblock status1 %}
			{% endif %}
			<div id="footer">
				Caio Guimarães Herrera · <a href="https://github.com/caioherrera">Github</a> · <a href="br.linkedin.com/in/caioherrera">Linkedin</a> · <a href="mailto:caio.herrera@outlook.com">E-mail</a>
			</div>
		</div>
	</div>
</body>
</html>
            
