<html>
<head>
	<meta charset="utf-8">
	<link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='main.css') }}'>
	<title>Data Search - RTW :: Games</title>
</head>
<body>
	<div id="content">
		<div id="header">
			<h1>RTW :: Games<br><div id="subtitle">Research Project at Federal University of São Carlos</div></h1>
			<nav>
				<ul>
					<li><a href="{{ url_for('index') }}">Home</a></li>
					<li><a href="{{ url_for('overview') }}">Project Overview</a></li>
					<li class="active"><a href="{{ url_for('data') }}">Data Search</a></li>
					<li><a href="{{ url_for('games') }}">Games</a></li>
					{% if admin %}					
						<li><a href="{{ url_for('admin') }}">Admin Options</a></li>
					{% endif %}
					<li><a href="{{ url_for('profile') }}">My Profile</a></li>
					<li><a href="{{ url_for('logout') }}">Logout</a></li>
				</ul>
			</nav>
		</div>
		<div id="body">
			<h2>Data Search</h2>
			<form method="GET" action="/generateData">
				<p><div class="formField">Word or expression</div><input type="text" id="search" name="search"></p>
				<p><div class="formField">Game type</div>
					<input type="radio" id="gameType" name="gameType" value="0">Seeds
					<input type="radio" id="gameType" name="gameType" value="1">1
					<input type="radio" id="gameType" name="gameType" value="2">2
					<input type="radio" id="gameType" name="gameType" value="3">3
					<input type="radio" id="gameType" name="gameType" value="4" checked>All</p>
				<p><div class="formField">Search as</div>
					<input type="radio" id="position" name="position" value="1">Entity
					<input type="radio" id="position" name="position" value="2">Category
					<input type="radio" id="position" name="position" value="0" checked>Both</p>
				<p><div class="formField">With count greater or equal to</div><input type="number" id="count" name="count" min="0" value="0"></p>
				<p><div class="formField">With score greater or equal to</div><input type="number" id="score" name="score" min="0" max="1" step="0.01" value="0"></p>
				<p><div class="formField"><input class="json" type="submit" value="Generate JSON" id="submit"></div></p>
			</form>
			<div id="footer">
				Caio Guimarães Herrera · <a class="underlineLink" href="https://github.com/caioherrera">Github</a> · <a class="underlineLink" href="br.linkedin.com/in/caioherrera">Linkedin</a> · <a class="underlineLink" href="mailto:caio.herrera@outlook.com">E-mail</a>
			</div>
		</div>
	</div>
</body>
</html>            
