<html>
<head>
	<meta charset="utf-8">
    {% if code == 0 or code == 3 %}
        <meta http-equiv="refresh" content="1;url={{ url_for('firstGame', game = game) }}">
    {% endif %}
	<script type="text/javascript" src="{{ url_for('static', filename='firstGame.js') }}"></script>
	<title>First Game - RTW :: Games</title>
</head>
<body>	
	<h2>RTW :: Games</h2>
	<h3>Research Project at Federal University of São Carlos</h3>
	<a href="{{ url_for('index') }}">Home</a>
	<a href="{{ url_for('overview') }}">Project Overview</a>
	<a href="{{ url_for('people') }}">People</a>
	<a href="{{ url_for('games') }}">Games</a>
	(<a href="{{ url_for('profile') }}">{{ username }}</a>)
    <a href="{{ url_for('logout') }}">Logout</a>
	<hr>
	<h3>First Game</h3>
        {% if code == 0 %}
            {% block code0 %}
                <p>Waiting for your opponent...</p>
            {% endblock code0 %}
		{% else %}
        {% if code == 3 %}
            {% block code3 %}
                <p>Game over! Waiting for your opponent...</p>
            {% endblock code3 %}
        {% else %}
            {% if code == 1 or code == 10 %}
                {% block code1 %}
                    <p>This game has been finished.</p>
					{% if code == 10 %}
						<p>You scored {{ score }} points!</p>
					{% endif %}
                {% endblock code1 %}
            {% else %}
                {% if code == 2 %}
                    {% block code2 %}
                		<input type="button" id="start" value="Start game" onclick="startGame('{{ username }}','{{ theme }}')"><br>
                		<p>The theme of the round is</p>
                		<input type="text" readonly="true" id="theme">
                		<table>
                			<tr>
                				<td>
                					<p>Next word or expression</p>
                					<input type="text" readonly="true" id="next" onkeypress="return testClick(event);">
                				</td>
                				<td></td>
                				<td>
                					<select size=5 readonly="true" id="list" width="100"></select>
                				</td>
                			</tr>
                		</table>
						<form name="sendData" method="POST" action="/endGame">
							<input type="hidden" id="number" name="number" value="1">
							<input type="hidden" id="game" name="game" value="{{ game }}">
							<input type="hidden" id="user" name="user" value="{{ _id }}">
							<input type="hidden" id="data" name="data">
						</form>
                		<p id="timer"></p>
                    {% endblock code2 %}
                {% else %}
                    {% block code4 %}
						<p>This game does not exist.</p>
                    {% endblock code4 %}
                {% endif %}
            {% endif %}
        {% endif %}
		{% endif %}
	<hr>
	<strong>Caio Guimarães Herrera</strong> · <a href="https://github.com/caioherrera">Github</a> · <a href="br.linkedin.com/in/caioherrera">Linkedin</a> · <a href="mailto:caio.herrera@outlook.com">E-mail</a>
</body>
</html>
