<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='main.css') }}">

	<script type="text/javascript" src="{{ url_for('static', filename='jquery-3.1.1.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='firstGame.js') }}"></script>

	<title>First Game - RTW :: Games</title>
</head>
<body>
	<div id="content">
		
	    <div id="header">
	        <h1>
				RTW :: Games<br>
				<div id="subtitle">Research Project at Federal University of São Carlos</div>
			</h1>
            <nav>
	            <ul>
					<li><a href="{{ url_for('index') }}">Home</a></li>
					<li><a href="{{ url_for('overview') }}">Project Overview</a></li>
					<li><a href="{{ url_for('data') }}">Data Search</a></li>
					<li class="active"><a href="{{ url_for('games') }}">Games</a></li>
					{% if admin %}					
						<li><a href="{{ url_for('admin') }}">Admin Options</a></li>
					{% endif %}
					<li><a href="{{ url_for('profile') }}">My Profile</a></li>
					<li><a href="{{ url_for('logout') }}">Logout</a></li>
                </ul>
			</nav>
		</div>

        <div id="body">
 	       <h2>First Game</h2>

			  <p id="gameID" hidden>{{ game }}</p>
			  <p id="userID" hidden>{{ _id }}</p>
			  <p id="theme" hidden>{{ theme }}</p>
			  <pre id="message">Waiting for your opponent...</pre>

			  <div id="divGame">
	              <input type="button" id="btnStart" value="Start Game" onclick="startGame();"><br>
                  <p class="gameLabel">The theme of the round is</p>
                  <input type="text" readonly="true" id="txtTheme">
                  <p class="gameLabel">Next word or expression</p>
                  <input type="text" readonly="true" id="txtNext" onkeypress="return testClick(event);">
				  <p class="gameLabel">Previous entries</p>
	              <select size=5 readonly="true" id="lstPrevious" width="100"></select>
                  <p id="timer"></p>				  
			  </div>

              <div id="footer">
	              Caio Guimarães Herrera · <a class="underlineLink" href="https://github.com/caioherrera">Github</a> · <a class="underlineLink" href="https://www.pythonanywhere.com/user/caioherrera/files/home/caioherrera/RTWGames/templates/br.linkedin.com/in/caioherrera">Linkedin</a> · <a class="underlineLink" href="mailto:caio.herrera@outlook.com">E-mail</a>
              </div>

         </div>
    </div>

</body></html>
