<html>
<head>
	<meta charset="utf-8">
	<title>Games - RTW :: Games</title>
</head>
<body>
	<h2>RTW :: Games</h2>
	<h3>Research Project at Federal University of São Carlos</h3>
	<a href="{{ url_for('index') }}">Home</a>
	<a href="{{ url_for('overview') }}">Project Overview</a>
	<a href="{{ url_for('people') }}">People</a>
	<a href="{{ url_for('games') }}">Games</a>
	<a href="{{ url_for('logout') }}">Logout</a> ({{ username }})	
	<hr>
	<h3>Games</h3>
		<ul>
			<li><a href="{{ url_for('firstGame') }}">First game</a></li>
			<li><a href="{{ url_for('secondGame') }}">Second game</a></li>
			<li><a href="{{ url_for('thirdGameA') }}">Third game</a></li>
		</ul>
	<hr>
	<strong>Caio Guimarães Herrera</strong> · <a href="https://github.com/caioherrera">Github</a> · <a href="br.linkedin.com/in/caioherrera">Linkedin</a> · <a href="mailto:caio.herrera@outlook.com">E-mail</a>
</body>
</html>
