<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='override.css') }}">
        <title>RTW :: Games</title>
    </head>
    <body>  
        <div class="container">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                <div class="navbar-header">
                    <h4 class="navbar-brand">
                        <a id="title" href="{{ url_for('index') }}">RTW :: Games<br></a>
                        <small>Research Project at Federal University of São Carlos</small>
                    </h4>
                </div>
                <div class="navbar-collapse collapse">  
                    <ul class="nav navbar-nav navbar-right">
                        <li class="links active"><a href="{{ url_for('index') }}">Home</a></li>
                        <li class="links"><a href="/overview">Project Overview</a></li>
                        <li class="links"><a href="/people">People</a></li>
                        <li class="nav-divider"></li>
                        <li class="links"><a id="login" href="/login">Login</a></li>
                        <li class="links"><a id="register" href="/register">Register</a></li>
                    </ul>
                </div>
                </div>
            </nav>
        </div>
        <div class="jumbotron">
            <div class="container">
                <h1>Learning with games</h1>
                <p class="lead" id="subtitle">This website is the result of a scientific project focused on the ability of a computer to <strong>learn from humans</strong>, as they collaborate with the research just by <strong>playing games</strong> and <strong>having fun.</strong></p>
                    <p class="lead"><a class="btn btn-lg btn-primary" href="/overview">Read more</a></p>
            </div>
        </div>

        <div class="container marketing">
            <div class="row">
                <div class="col-lg-4">
                    <img class="img-circle" src="http://cptstatic.s3.amazonaws.com/imagens/enviadas/materias/materia10372/3criacao-de-capivaras-curso-cpt.jpg" width="150" height="150"></img>
                    <h2>First Title</h2>
                    <p class="text-justify"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse semper dolor vitae arcu rutrum finibus. Phasellus congue convallis egestas. Proin congue maximus augue a vulputate. Donec efficitur dignissim ipsum quis mollis. Nunc dapibus libero eu facilisis pretium. Duis iaculis nec eros et consequat. Nullam non sem aliquet ligula facilisis volutpat varius a lorem.</p>
                    <p class="lead"><a class="btn btn-lg btn-primary" href="/overview">Read more</a></p>
                </div>
                <div class="col-lg-4">
                    <img class="img-circle" src="http://cptstatic.s3.amazonaws.com/imagens/enviadas/materias/materia10372/3criacao-de-capivaras-curso-cpt.jpg" width="150" height="150"></img>
                    <h2>Second Title</h2>
                    <p class="text-justify"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse semper dolor vitae arcu rutrum finibus. Phasellus congue convallis egestas. Proin congue maximus augue a vulputate. Donec efficitur dignissim ipsum quis mollis. Nunc dapibus libero eu facilisis pretium. Duis iaculis nec eros et consequat. Nullam non sem aliquet ligula facilisis volutpat varius a lorem.</p>
                    <p class="lead"><a class="btn btn-lg btn-primary" href="/overview">Read more</a></p>
                </div>
                <div class="col-lg-4">
                    <img class="img-circle" src="http://cptstatic.s3.amazonaws.com/imagens/enviadas/materias/materia10372/3criacao-de-capivaras-curso-cpt.jpg" width="150" height="150"></img>
                    <h2>Third Title</h2>
                    <p class="text-justify"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse semper dolor vitae arcu rutrum finibus. Phasellus congue convallis egestas. Proin congue maximus augue a vulputate. Donec efficitur dignissim ipsum quis mollis. Nunc dapibus libero eu facilisis pretium. Duis iaculis nec eros et consequat. Nullam non sem aliquet ligula facilisis volutpat varius a lorem.</p>
                    <p class="lead"><a class="btn btn-lg btn-primary" href="/overview">Read more</a></p>
                </div>
            </div>      
        </div>
        <hr class="footer-divider">
        <div class="container">
            <footer>
                <address class="text-right">
                    <strong>Caio Guimarães Herrera</strong> · <a href="https://github.com/caioherrera">Github</a> · <a href="br.linkedin.com/in/caioherrera">Linkedin</a> · <a href="mailto:caio.herrera@outlook.com">E-mail</a>
                </address>  
            </footer>
        </div>
    </body>
</html>
