<html>
<head>
	<meta charset="utf-8">
	<link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='main.css') }}'>
	<title>RTW :: Games</title>
</head>
<body>
	<div id="content">
		<div id="header">
			<h1>RTW :: Games<br><div id="subtitle">Research Project at Federal University of São Carlos</div></h1>
			<nav>
				<ul>
					<li class="active"><a href="{{ url_for('index') }}">Home</a></li>
					<li><a href="{{ url_for('overview') }}">Project Overview</a></li>
					<li><a href="{{ url_for('people') }}">People</a></li>
					{% if code == 0 %}
					    {% block code0 %}
					    	<li><a href="{{ url_for('login') }}">Login</a></li>
					    	<li><a href="{{ url_for('register') }}">Register</a></li>
					    {% endblock code0 %}
					{% else %}
						<li><a href="{{ url_for('games') }}">Games</a></li>
						<li><a href="{{ url_for('profile') }}">Profile ({{ username }})</a></li>
						<li><a href="{{ url_for('logout') }}">Logout</a></li>
					{% endif %}
				</ul>
			</nav>
		</div>
		<div id="body">
			<h2>Learning with games</h2>
			<p>This website is the result of a scientific project focused on the ability of a computer to <strong>learn from humans</strong>, as they collaborate with the research just by <strong>playing games</strong> and <strong>having fun.</strong></p><br>
			<div id="footer">
				Caio Guimarães Herrera · <a href="https://github.com/caioherrera">Github</a> · <a href="br.linkedin.com/in/caioherrera">Linkedin</a> · <a href="mailto:caio.herrera@outlook.com">E-mail</a>
			</div>
		</div>
	</div>
</body>
</html>
            
