<html>
<head>
	<meta charset="utf-8">
	<link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='main.css') }}'>
	<title>RTW :: Games</title>
</head>
<body>
	<div id="content">
		<div id="header">
			<h1>RTW :: Games<br><div id="subtitle">Research Project at Federal University of São Carlos</div></h1>
			<nav>
				<ul>
					<li class="active"><a href="{{ url_for('index') }}">Home</a></li>
					<li><a href="{{ url_for('overview') }}">Project Overview</a></li>
					{% if code == 0 %}
					    {% block code0 %}
					    	<li><a href="{{ url_for('login') }}">Login</a></li>
					    	<li><a href="{{ url_for('register') }}">Register</a></li>
					    {% endblock code0 %}
					{% else %}
						<li><a href="{{ url_for('games') }}">Games</a></li>
						{% if admin %}					
							<li><a href="{{ url_for('admin') }}">Admin options</a></li>
						{% endif %}
						<li><a href="{{ url_for('profile') }}">Profile ({{ username }})</a></li>
						<li><a href="{{ url_for('logout') }}">Logout</a></li>
					{% endif %}
				</ul>
			</nav>
		</div>
		<div id="body">
			<h2>Learning with games</h2>
			<p class="bruteText">This website is the result of a scientific project focused on the ability of a computer to learn from humans, as they collaborate with the research just by playing games and having fun. The project is based on an approach called Games with a Purpose, that will be explored together with machine learning algorithms, in an attempt to expand the knowledge base of a never-ending language learner called NeLL. </p>
			<p class="bruteText">You can read more about this project in the <a class="underlineLink" href="{{ url_for('overview') }}">Project Overview</a> section.</p>
			<div id="footer">
				Caio Guimarães Herrera · <a class="underlineLink" href="https://github.com/caioherrera">Github</a> · <a class="underlineLink" href="br.linkedin.com/in/caioherrera">Linkedin</a> · <a class="underlineLink" href="mailto:caio.herrera@outlook.com">E-mail</a>
			</div>
		</div>
	</div>
</body>
</html>
            
