<html>
<head>
	<meta charset="utf-8">
    {% if code == 1 %}
        <meta http-equiv="refresh" content="1;url={{ url_for('index',) }}">
    {% endif %}
	<link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='main.css') }}'>
	<title>Login - RTW :: Games</title>
</head>
<body>
	<div id="content">
		<div id="header">
			<h1>RTW :: Games<br><div id="subtitle">Research Project at Federal University of São Carlos</div></h1>
			<nav>
				<ul>
					<li><a href="{{ url_for('index') }}">Home</a></li>
					<li><a href="{{ url_for('overview') }}">Project Overview</a></li>
					<li><a href="{{ url_for('people') }}">People</a></li>
					<li><a href="{{ url_for('login') }}">Login</a></li>
					<li><a href="{{ url_for('register') }}">Register</a></li>
				</ul>
			</nav>
		</div>
		<div id="body">
			<h2>Login</h2>
	   	    {% if code == 2 %}
    	    	<p id="error">Nome de usuário ou senha incorretos.</p>
    	    {% endif %}
	        {% if code != 1 %}
    	        {% block code0 %}
    	    		<form method="POST">
			        	<p><div class="formField">Email</div><input type="email" id="email" name="email"></p>
    	    			<p><div class="formField">Password</div><input type="password" id="password" name="password"></p>
	    	    		<p><div class="formField"><input type="submit" value="Enter" id="submit"></div></p>
    	    		</form><br>
    	        {% endblock code0 %}
    	    {% else %}
    	        {% block code1 %}
    	            <p>If you are not redirected automatically, <a href="{{ url_for('index') }}">click here</a>.</p><br>
    	        {% endblock code1 %}    
    	    {% endif %}
			<div id="footer">
				Caio Guimarães Herrera · <a href="https://github.com/caioherrera">Github</a> · <a href="br.linkedin.com/in/caioherrera">Linkedin</a> · <a href="mailto:caio.herrera@outlook.com">E-mail</a>
			</div>
		</div>
	</div>
</body>
</html>
