<html>
<head>
	<meta charset="utf-8">
	<link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='main.css') }}'>
	<title>Project Overview - RTW :: Games</title>
</head>
<body>
	<div id="content">
		<div id="header">
			<h1>RTW :: Games<br><div id="subtitle">Research Project at Federal University of São Carlos</div></h1>
			<nav>
				<ul>
					<li><a href="{{ url_for('index') }}">Home</a></li>
					<li class="active"><a href="{{ url_for('overview') }}">Project Overview</a></li>
					<li><a href="{{ url_for('people') }}">People</a></li>
					{% if code == 0 %}
					    {% block code0 %}
					    	<li><a href="{{ url_for('login') }}">Login</a></li>
					    	<li><a href="{{ url_for('register') }}">Register</a></li>
					    {% endblock code0 %}
					{% else %}
						<li><a href="{{ url_for('games') }}">Games</a></li>
						<li><a href="{{ url_for('profile') }}">Profile ({{ username }})</a></li>
						<li><a href="{{ url_for('logout') }}">Logout</a></li>
					{% endif %}
				</ul>
			</nav>
		</div>
		<div id="body">
			<h2>Project Overview</h2>
			<p>The <strong>main goal</strong> of this project is to expand the knowledge base of the computer system called <strong>Never-Ending Language Learner</strong> (NeLL), created as a research project at <strong>Carnegie Mellon University</strong>, allowing users to interact with the knowledge base, through an approach known as <strong>Games with a Purpose</strong>, explored by <strong>Luis von Ahn</strong>. Through a few games, users provide NeLL a wide range of candidates for <strong>entities and categories</strong>. After that, <strong>machine learning algorithms</strong> will be applied on the collected data, in order to directly improve the <strong>ontology</strong> and <strong>knowledge base</strong> of NeLL.<br></p>
			<p>Click <a href="http://rtw.ml.cmu.edu/rtw/">here</a> to learn more about the NeLL project.</p><br>
			<div id="footer">
				Caio Guimarães Herrera · <a href="https://github.com/caioherrera">Github</a> · <a href="br.linkedin.com/in/caioherrera">Linkedin</a> · <a href="mailto:caio.herrera@outlook.com">E-mail</a>
			</div>
		</div>
	</div>
</body>
</html>
            
