<html>
<head>
	<meta charset="utf-8">
	<title>People - RTW :: Games</title>
</head>
<body>
	<h2>Profile - RTW :: Games</h2>
	<h3>Research Project at Federal University of São Carlos</h3>
	<a href="{{ url_for('index') }}">Home</a>
	<a href="{{ url_for('overview') }}">Project Overview</a>
	<a href="{{ url_for('people') }}">People</a>
    {% if code == 0 %}
        {% block code0 %}
        	<a href="{{ url_for('login') }}">Login</a>
        	<a href="{{ url_for('register') }}">Register</a>	
        {% endblock code0 %}
    {% else %}
		<a href="{{ url_for('games') }}">Games</a>
		(<a href="{{ url_for('profile') }}">{{ username }}</a>)
        <a href="{{ url_for('logout') }}">Logout</a> 
    {% endif %}
	<hr>
	<h3>Profile</h3>
	<p>ID: <input type="text" readonly="true" id="id" value="{{ _id }}"><p>
	<p>Username: <input type="text" readonly="true" id="id" value="{{ username }}"><p>
	<p>Email: <input type="text" readonly="true" id="id" value="{{ email }}"><p>
	<p>Registration date: <input type="text" readonly="true" id="id" value="{{ regDate }}"><p>
	<hr>
	<strong>Caio Guimarães Herrera</strong> · <a href="https://github.com/caioherrera">Github</a> · <a href="br.linkedin.com/in/caioherrera">Linkedin</a> · <a href="mailto:caio.herrera@outlook.com">E-mail</a>
</body>
</html>
            
