<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='main.css') }}'>

	<script type="text/javascript" src="{{ url_for('static', filename='jquery-3.1.1.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='thirdGameA.js') }}"></script>

	<title>Third Game Part 1 - RTW :: Games</title>
</head>
<body>	
	<div id="content">
		<div id="header">
	        	<h1>
				RTW :: Games<br>
				<div id="subtitle">Research Project at Federal University of São Carlos</div>
			</h1>
	        	<nav>
	        		<ul>
	                		<li><a href="{{ url_for('index') }}">Home</a></li>
			                <li><a href="{{ url_for('overview') }}">Project Overview</a></li>
					<li><a href="{{ url_for('data') }}">Data Search</a></li>
			                <li class="active"><a href="{{ url_for('games') }}">Games</a></li>
					{% if admin %}					
						<li><a href="{{ url_for('admin') }}">Admin Options</a></li>
					{% endif %}
					<li><a href="{{ url_for('profile') }}">My Profile</a></li>
					<li><a href="{{ url_for('logout') }}">Logout</a></li>
		                </ul>
			</nav>
		</div>
        	<div id="body">
			<h2>Third Game</h2>
				
			<p id="gameID" hidden>{{ game }}</p>
			<p id="userID" hidden>{{ _id }}</p>
			{% for i in range(2) %}
				<p id="theme{{ i }}" hidden>{{ theme[i] }}</p>
			{% endfor %}
			<p id="user" hidden>{{ user }}</p>
			<pre id="message">Waiting for your opponent...</pre>

			<div id="divGameA">
              			<input type="button" id="btnStartA" value="Start Game" onclick="startGameA();"><br>
          			<p class="gameLabel">The theme of the round is</p>
          			<input type="text" readonly="true" id="txtTheme">
          			<p class="gameLabel">Describe it in 3 words or expressions</p>
				<input type="text" readonly="true" id="txtKey0" onkeypress="return testClick(event, 0);"><br>
				<p><input type="text" readonly="true" id="txtKey1" onkeypress="return testClick(event, 1);"></p>
				<p><input type="text" readonly="true" id="txtKey2" onkeypress="return testClick(event, 2);"></p>
				<input type="button" id="btnOk" value="OK" onclick="endGame()"><br>
		  	</div>

			<pre id="afterMessage">You scored %d points!<br><a class="underlineLink" href="javascript:PrepareGame();">Click here</a> to play the second part of this game.<br><br></pre>

			<div id="divGameB">
              			<input type="button" id="btnStartB" value="Start Game" onclick="startGameB();"><br>
		                <p class="gameLabel">Next guess</p>
				<input type="text" readonly="true" id="txtNext" onkeypress="return testClickB?????????????(event);"><br>
          			<table>
					<tr height=30></tr>
			            	<tr>
			                	<td>
							<p class="gameType">Hints</p>
			                		<select size=5 readonly="true" id="lstHints" width="100"></select>
			                	</td>
						<td width=50></td>
			                	<td>
							<p class="gameType">Previous entries</p>
			                		<select size=5 readonly="true" id="lstPrevious" width="100"></select>
			                	</td>
			                </tr>
				</table>
				<p id="timer"></p>
			</div>
		</div>
		<div id="footer">
			Caio Guimarães Herrera · <a class="underlineLink" href="https://github.com/caioherrera">Github</a> · <a class="underlineLink" href="br.linkedin.com/in/caioherrera">Linkedin</a> · <a class="underlineLink" href="mailto:caio.herrera@outlook.com">E-mail</a>
		</div>
         </div>
</body>
</html>
