<html>
<head>
	<meta charset="utf-8">
	<link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='main.css') }}'>
    {% if (code == 0 or code == 3) %}
        <meta http-equiv="refresh" content="1;url={{ url_for('thirdGameA', game = game) }}">
    {% endif %}
	<script type="text/javascript" src="{{ url_for('static', filename='thirdGameA.js') }}"></script>
	<title>Third Game Part 1 - RTW :: Games</title>
</head>
<body>	
	<div id="content">
	    <div id="header">
	        <h1>RTW :: Games<br><div id="subtitle">Research Project at Federal University of São Carlos</div></h1>
            <nav>
	            <ul>
	                <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('overview') }}">Project Overview</a></li>
					<li><a href="{{ url_for('data') }}">Data Search</a></li>
                    <li class="active"><a href="{{ url_for('games') }}">Games</a></li>
					{% if admin %}					
						<li><a href="{{ url_for('admin') }}">Admin options</a></li>
					{% endif %}
                    <li><a href="{{ url_for('profile') }}">Profile ({{ username }})</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                </ul>
			</nav>
		</div>
        <div id="body">
			<h2>Third Game</h2>
	        {% if code == 0 %}
    	        {% block code0 %}
    	            <p>Waiting for your opponent...</p>
    	        {% endblock code0 %}
			{% else %}
    		    {% if code == 3 %}
    		        {% block code3 %}
    		            <p>Game over! Waiting for your opponent...</p>
    		        {% endblock code3 %}
    		    {% else %}
    		        {% if code == 1 or code == 10 %}
    		            {% block code1 %}
    		                <p>This game has been finished.</p>
							{% if code == 10 %}
								<p>You scored {{ score }} points!</p>
								<p><a class="underlineLink" href="{{ url_for('thirdGameB', game = game) }}">Click here</a> to play the second part of this game.<p>
							{% endif %}
    		            {% endblock code1 %}
    		        {% else %}
    		            {% if code == 2 %}
    		                {% block code2 %}
    		            		<input type="button" id="start" value="Start game" onclick="startGame('{{ username }}','{{ theme }}')"><br>
   			            		<p>The theme of the round is</p>
   			            		<input type="text" readonly="true" id="theme">
   			            		<table>
   			            			<tr>
   			            				<td>
   			            					<p>Describe it in 3 words or expressions</p>
   			            					<input type="text" class="gameText" readonly="true" id="key1" onkeypress="return testClick(event, 1);"><br>
   			            					<input type="text" class="gameText" readonly="true" id="key2" onkeypress="return testClick(event, 2);"><br>
   	        		    					<input type="text" class="gameText" readonly="true" id="key3" onkeypress="return testClick(event, 3);"><br>
											<input type="button" id="ok" value="Send" onclick="sendForm()">
   	        		    				</td>
		   	            			</tr>	
   	    		        		</table>
								<form name="sendData" method="POST" action="/endGame">
									<input type="hidden" id="number" name="number" value="3">
									<input type="hidden" id="game" name="game" value="{{ game }}">
									<input type="hidden" id="user" name="user" value="{{ _id }}">
									<input type="hidden" id="data" name="data">
								</form>
   	    		        		<p id="timer"></p>
							{% endblock code2 %}
        		        {% else %}
        		            {% block code4 %}
								<p>This game does not exist.</p>
        		            {% endblock code4 %}
        		        {% endif %}
        		    {% endif %}
        		{% endif %}
			{% endif %}
            <div id="footer">
	        	Caio Guimarães Herrera · <a class="underlineLink" href="https://github.com/caioherrera">Github</a> · <a class="underlineLink" href="br.linkedin.com/in/caioherrera">Linkedin</a> · <a class="underlineLink" href="mailto:caio.herrera@outlook.com">E-mail</a>
            </div>
         </div>
    </div>
</body>
</html>
